/aula05/03-OlaMundoJavaFX/build/
/aula05/OlaMundoJavaFX/build/
/aula05/OlaMundoJavaFX/dist/
/aula05/OlaMundoJavaFX/nbproject/private/
/aula05/aula/OlaMundoJavaFX/nbproject/private/
/aula05/exercicios/IdiomaSistemaSwing/nbproject/private/
/aula05/exercicios/IdiomaSistemaSwing/build/
/aula05/exercicios/ResolucaoTelaSwing/nbproject/private/
/aula05/exercicios/ResolucaoTelaSwing/build/
/aula06/aula/TiposPrimitivos/nbproject/private/
/aula06/aula/TiposPrimitivos/build/
/aula06/aula/TesteTipos/nbproject/private/
/aula06/aula/TesteTipos/build/
/aula06/aula/SomaSwing/nbproject/private/
/aula06/aula/SomaSwing/build/
